In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [2]:
## Load all the models

from keras.models import load_model
import pickle
model = load_model('model1.h5')

with open('LabelEncoder_Gender','rb') as f:
    le_gender = pickle.load(f)
    
with open('OneHotEncoder_Geography','rb') as f:
    ohe_geography = pickle.load(f)
    
with open('StandardScaler', 'rb') as f:
    sc = pickle.load(f)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.
d:\anaconda\Lib\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator LabelEncoder from version 1.5.2 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
d:\anaconda\Lib\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator OneHotEncoder from version 1.5.2 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
d:\anaconda\Lib\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator StandardScaler from version 1.5.2 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [3]:
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':42,
    'Tenure':2,
    'Balance':100000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [4]:
encoded_geography = ohe_geography.transform([[input_data['Geography']]]).toarray()
geography_df = pd.DataFrame(encoded_geography, columns=ohe_geography.get_feature_names_out(['Geography']))

geography_df

d:\anaconda\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [5]:
df = pd.concat([pd.DataFrame([input_data]),geography_df],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,Male,42,2,100000,2,1,1,50000,1.0,0.0,0.0

In [6]:
df.drop('Geography',inplace=True,axis=1)
df['Gender'] = le_gender.transform(df['Gender'])

df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,42,2,100000,2,1,1,50000,1.0,0.0,0.0

In [7]:
scaled_df = sc.transform(df)

scaled_df

array([[-0.51948284,  0.92295821,  0.30468834, -1.03635146,  0.39556081,
         0.81039385,  0.64198477,  0.96683535, -0.86933284,  0.98497008,
        -0.56987189, -0.5731713 ]])

In [12]:
## Prediction

pred = model.predict(scaled_df)

result = 'Customer is likely to churn' if pred > 0.5 else 'Customer is not likely to churn'

print(result)

1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 732ms/step
Customer is not likely to churn